.photo:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: span 2;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.photo span {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  color: white;
  font-size: 1rem;
  text-align: center;

  display: none;
  align-items: center;
  justify-content: center;

  transition: all 0.4s;
}

.photo span::before {
  content: "";
  width: 16px;
  height: 10px;
  display: inline-block;
  margin-right: 0.25rem;
  background: url("../../Assets/visualizacao.svg") no-repeat;
}

.photo:hover span {
  display: flex;
}

@media (max-width: 40rem) {
  .photo:nth-child(2) {
    grid-column: initial;
    grid-row: initial;
  }
}
